@if (TempData["Success"] is string success)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        @success
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@if (TempData["Error"] is string error)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        @error
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
